@page "/"
@inject IEthereumHostProvider _ethereumHostProvider
@inject IJSRuntime _jsRuntime
@implements IDisposable     

@if (_selectedAccount is not null)
{
    <div>
        Selected account address: @_selectedAccount
    </div>
}

@if (_selectedChainId is not null)
{
    <div>
        Selected chainId: @_selectedChainId
    </div>
}

<div>
    Is metamask available: @_isAvailable
</div>

<div>
    Is metamask connected: @IsConnected
</div>

<button disabled="@(!_isAvailable || IsConnected)" @onclick="@OnBtnClick">
    Connect MetaMask
</button>

@if(IsConnected) 
{ 
    <button @onclick="@OnSignBtnClick">
        Sign message
    </button>

    if (_signedMessage is not null)
    {
        <div class="d-flex flex-column mt-2">
            <span>Signed message: </span>
            <div class="mt-2"></div>
            <span>@_signedMessage</span>    
        </div>
    }
}

@code {

    private string _selectedAccount;
    private int? _selectedChainId;
    private bool _isAvailable;
    private bool _isDisposed;
    
    private bool IsConnected => _isAvailable && _selectedAccount is not null;

    private string _signedMessage;
    
    protected override async Task OnInitializedAsync()
    {
        _isAvailable = await _ethereumHostProvider.IsMetamaskAvailableAsync();

        Console.WriteLine($"Is metamask available: {_isAvailable}");
        if (_isAvailable)
        {
            _selectedAccount = await _ethereumHostProvider.EnableProviderAsync();
            _selectedChainId = await _ethereumHostProvider.GetSelectedNetworkAsync();

            SubscribeOnProviderEvents();
        }
        
        StateHasChanged();
    }

    private async Task OnSignBtnClick()
    {
        _signedMessage = await _ethereumHostProvider.SignMessageAsync("You want to sign this message?", "Some message to sign");
    }
    private async Task OnBtnClick()
    {
        _selectedAccount = await _ethereumHostProvider.EnableProviderAsync();
    }
    
    private Task OnAccountsChange(string newAccount)
    {
        _selectedAccount = newAccount;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnChainChange(int newChainId)
    {
        Console.WriteLine("Chain changed!");
        _selectedChainId = newChainId;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private void UnSubscribeFromProviderEvents()
    {
        _ethereumHostProvider.SelectedAccountChanged -= OnAccountsChange;
        _ethereumHostProvider.NetworkChanged -= OnChainChange;
    }
    
    private void SubscribeOnProviderEvents()
    {
        _ethereumHostProvider.SelectedAccountChanged += OnAccountsChange;
        _ethereumHostProvider.NetworkChanged += OnChainChange;
    }

    public void Dispose()
    {
        if (_isDisposed) return;

        UnSubscribeFromProviderEvents();
        
        _isDisposed = true;
    }

}